/BTVN_1/nbproject/private/
/BTVN_2/nbproject/private/
/Buoi1/nbproject/private/
/Buoi1/build/
/BTVN_1/build/
/BTVN2/nbproject/private/
/BTVN_2/build/
/Buoi3/nbproject/private/
/Buoi3/build/
/BTVN_3/nbproject/private/
/BTVN_3/build/